@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

@import '../../App.scss';

$blackcolor: #000000;
$backgroundcolor: #e2e2e2;

.chat{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: $backgroundcolor;
    height: 97vh;
    border-left: $border;
}

.chat__messages{
    flex: 1;
    overflow: scroll;
}

.chat__messages::-webkit-scrollbar{
    display: none;
}

.chat__messages{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat__input{
    color: $blackcolor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $fifteenpx;
    margin: $twentypx;
    background-color: $backgroundcolor;
}

.chat__input > form > input{
    padding: $fifteenpx;
    background-color: transparent;
    width: 100%;
    border: none;
    outline-width: 0;
    color: $blackcolor;
    font-size: large;
    font-family: $montserrat;
    font-weight: 600;
}

.chat__input > form {
    display: flex;
    flex: 1;
    border: $border;
    border-radius: $borderradius;
}

.chat__inputButton{
    display: none;
}

.chat__inputIcons > .MuiSvgIcon-root{
    padding: $fivepx;
}
