@import '../../../App.scss';

.message{
    display: flex;
    padding: 20px; 
}

.message__info{
    margin-left: 20px;
}

.message__avatar{
    margin-top: 5px;
}

.message__info > h4{
    color: #1e2e2d;
    border-bottom: $border;
}

.message__info > p{
    margin-left: 10px;
    margin-top: 5px;
}

.message__info >img{
    border-right: $border;
    border-bottom: $border;
    margin-top: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

.message__timestamp{
    color: #575757;
    margin-left: 20px;
    font-size: x-small;
}