@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,400;1,700&display=swap');



.sidebar{
    display: flex;
    background-color: #3aa8f1;
}

.sidebar__left{
    display: flex;
    flex: 0.9;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 20px;
}


.sidebar__left > h1 > span{
    color: white;
}


.sidebar__profile{
    display: flex;
    flex: 0.5;
}

.sidebar__profileInfo{
    margin-left: 10px;
}

.sidebar__rightBtn{
    margin-top: 9px;
    width: 75px;
    height: 25px;
    margin-left: 30px;
    background: transparent;
    color: white;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.sidebar__rightBtn:hover{
    background: #7dc7f8;
}